body {
  overflow-x: hidden;
}

#map {
  width: 100%;
  height: 420px;
  padding: 0;
  margin: 0;
  position: relative;
}

[class*="ymaps-2"][class*="-ground-pane"] {
  -webkit-filter: grayscale(100%) invert(92%);
  filter: grayscale(100%) invert(92%);
}

.pz-btn {
  background: #FEE600;
  color: #000000;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: 0.02em;
  border-radius: 4px;
  height: 38px;
  text-align: center;
  border: none;
}

.pz-section {
  background: #000000;
  padding: 22px 0;
  position: relative;
}

.pz-section .swiper-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pz-section-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 24px;
}

.pz-section-head__title {
  color: #CECECE;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.pz-section-head__how {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: .4;
  text-decoration: none;
  cursor: pointer;
}

.pz-section-content-item {
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pz-section-content-item__circle {
  width: 76px;
  min-width: 76px;
  height: 76px;
  background: #FEE600;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pz-section-content-item__title {
  color: #ffffff;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.02em;
  z-index: 1;
}

.pz-section-content .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pz-section-content__popup {
  min-height: 116px;
  width: 192px;
  border-radius: 4px;
  background: #CECECE;
  position: absolute;
  z-index: -1;
  top: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 19px 5px 13px 5px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 108%;
  color: #000000;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  opacity: 0;
}

.pz-section-content__popup:before {
  content: "";
  height: 12px;
  width: 24px;
  display: block;
  background: url("../img/icons/triangle.svg");
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.pz-section-content__popup__close {
  display: block;
  margin: auto;
  width: 80px;
  margin-top: 16px;
}

.pz-section-content__popup_active {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  top: 74px;
  opacity: 1;
  z-index: 1;
}

.pz-container {
  padding: 0 18px;
  overflow: hidden;
}

.pz-tips-head {
  color: #CECECE;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.02em;
  padding-bottom: 17px;
}

.pz-tips-head__close {
  background: url("../img/icons/close-icon.svg") center no-repeat;
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.pz-tips-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pz-tips-content-item {
  width: 144px;
  height: 144px;
  min-width: 144px;
  background-color: rgba(255, 248, 225, 0.24);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 16px;
  margin-right: 8px;
  position: relative;
}

.pz-tips-content-item:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(1, 0, 0, -1, 0, 0);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.pz-collections-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pz-collections-content-item {
  width: 250px;
  min-width: 250px;
  height: 160px;
  background-color: rgba(255, 248, 225, 0.24);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 32px 16px;
  position: relative;
  margin-right: 8px;
}

.pz-collections-content-item:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(1, 0, 0, -1, 0, 0);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.pz-weekends-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pz-weekends-content-item {
  width: 250px;
  min-width: 250px;
  height: 160px;
  background-color: rgba(255, 248, 225, 0.24);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 32px 16px;
  position: relative;
  margin-right: 8px;
}

.pz-weekends-content-item:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(1, 0, 0, -1, 0, 0);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.pz-discounts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pz-discounts-content-item {
  width: 144px;
  height: 192px;
  min-width: 144px;
  background: rgba(255, 248, 225, 0.24);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 32px 16px;
  position: relative;
  margin-right: 8px;
}

.pz-discounts-content-item__title {
  text-align: center;
  margin-top: 20px;
}

.pz-places {
  padding-bottom: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #000000), to(rgba(0, 0, 0, 0.9)));
  background: -o-linear-gradient(top, #000000 90%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0.9) 100%);
}

.pz-places-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pz-places-content-item {
  width: 122px;
  height: 192px;
  min-width: 122px;
  background: #ffffff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 32px;
  position: relative;
  margin-right: 8px;
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pz-places-content-item:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, transparent), color-stop(40%, white));
  background: -o-linear-gradient(top, transparent 15%, white 40%);
  background: linear-gradient(180deg, transparent 15%, white 40%);
}

.pz-places-content-item_active {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.pz-places-content-item__circle {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  color: #000000;
  z-index: 1;
}

.pz-places-content-item__title {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 6px;
  color: #000000;
}

.pz-places-content-item__desc {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  opacity: 0.4;
  width: 102px;
}

.pz-places-content .slick-list {
  padding-top: 10px;
}

.pz-popup {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-image: url("../../../img/bg/popup.jpg");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 192px;
  min-height: 312px;
  background-color: #FFFFFF;
  border-radius: 16px;
  position: fixed;
  left: 50%;
  top: 105%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 16px;
  opacity: 0;
  z-index: 10;
}

.pz-popup:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, transparent), color-stop(33%, white));
  background: -o-linear-gradient(top, transparent 15%, white 33%);
  background: linear-gradient(180deg, transparent 15%, white 33%);
  border-radius: 16px;
}

.pz-popup_active {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
}

.pz-popup__overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
  z-index: 9;
}

.pz-popup__close {
  z-index: 1;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -34px;
  right: 0;
  color: #FEE600;
  cursor: pointer;
}

.pz-popup-content {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.pz-popup-content__title {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 13px;
  text-align: center;
}

.pz-popup-content__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 102%;
  color: #000000;
  text-align: center;
}

.pz-popup-content__tag {
  color: #CECECE;
  text-align: center;
}

.pz-popup-content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 0;
}

.pz-popup-content-info__icon {
  height: 44px;
  width: 44px;
  min-width: 44px;
  overflow: hidden;
  padding: 8px;
}

.pz-popup-content-info__icon img {
  max-width: 100%;
}

.pz-popup-content-info__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 96%;
  letter-spacing: -0.02em;
}